body {
  text-align: center;
  font-family: "courier new", courier, monospace;
}

h1 {
  border-bottom: 1px solid black;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.6em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 50px;
  font-weight: bold;
}

p {
  margin: 0 auto;
  max-width: 600px;
  line-height: 35px;
  margin-bottom: 20px;
}

li {
  margin: 0 auto;
  max-width: 600px;
  line-height: 35px;
}

a {
  text-decoration: none;
}

.links {
  margin: 0 auto;
  width: 200px;
}

.github-link {
  margin-top: 15px;
  width: 40px;
  height: 40px;
}

.twitter-link {
  margin-top: 15px;
  width: 40px;
  height: 40px;
}

.linkedin-link {
  margin-top: 15px;
  width: 40px;
  height: 40px;
}

img {
  border-radius: 50px;
}

img:hover  {
   box-shadow: 5px 10px 25px #000;
}

::selection {
  background-color: #8a59e2e0;
}
